.notFound {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 30px;
    flex-direction: column;
    gap: 20px;
}

.link {
    text-decoration: underline;
}